.progress-bar {
  border:1px solid #bebebe;
  background:#ffffff;
  width:400px;
  height:20px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -khtml-border-radius:10px;
  border-radius:10px;
}
.status {
  //background:#0066cc;
  background-image: linear-gradient(to right, #EFA5C7 0%, #EF0C5F 100%);
  width:0%;
  height:20px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -khtml-border-radius:10px;
  border-radius:10px;
}

.challenge {
  font-size: 22px;
  margin-bottom: 5px;
}

.level {
  font-size: 18px;
  display: table-cell;
  background: #ffffff;
  border:5px solid #ffffff;
  width: 40px;
  height: 40px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -khtml-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  vertical-align: middle;
}

.judge {
  display: table-cell;
  background: #ffffff;
  border:5px solid red;
  width: 30px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  color: red;
  text-align: center;
  vertical-align: middle;
  padding: 0 5px 0 5px;
}

.box {
  float: left;
  margin-right: 10px;
}

.box-container {
  overflow: hidden;
  width: 600px;
  background: beige;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -khtml-border-radius:5px;
  border-radius:5px;
  margin-bottom: 10px;
  padding: 10px;
}

/* clearfix */
.box-container:before,
.box-vontainer:after {
    content: "";
    display: table;
}
 
.box-container:after {
    clear: both;
}
 
/* For IE 6/7 (trigger hasLayout) */
.box-container {
    zoom: 1;
}
